<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tomaschlapek.tcbasearchitecture"
>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:name=".App"
    android:allowBackup="false"
    android:supportsRtl="false"
    android:resizeableActivity="false"
    android:icon="@mipmap/ic_launcher"
    tools:replace="label"
    android:label="@string/app_name_mine"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:theme="@style/AppTheme">

    <!--<meta-data
      android:name="io.fabric.ApiKey"
      android:value="@string/fabric_api_key"
    />-->

    <activity
      android:name=".presentation.ui.activity.InitActivity"
      android:theme="@style/Theme.Transparent"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".presentation.ui.activity.SampleActivity"
      android:screenOrientation="portrait"
    />
    <activity
      android:name=".presentation.ui.activity.OnboardingActivity"
      android:screenOrientation="portrait"
    />
    <activity
      android:name=".presentation.ui.activity.SignInActivity"
      android:screenOrientation="portrait"
    />

    <!--<activity
      android:name=".presentation.ui.activity.CustomActivity"
      android:noHistory="true"
      android:parentActivityName=".presentation.ui.activity.SampleActivity"
      android:screenOrientation="portrait">

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".presentation.ui.activity.SampleActivity"/>
    </activity>-->

  </application>

</manifest>